<!--HTML Header part-->
<%- include ('partials/header.ejs')%>
<!--HTML Main navigation part-->
<%- include ('partials/main_nav.ejs')%>

    <!--Main Content-->
    <main class="container">
        <div class="jumbotron">
            <%- include ('partials/content.ejs')%>
          </div>
    </main>

<!--HTML bottom navigation part-->
<%- include ('partials/bottom_nav.ejs')%>
<!--HTML Footer part-->
<%- include ('partials/footer.ejs')%>




